@import "./imports/_normalize.scss";

*{ box-sizing: border-box }
// img {
//    width: 100%;
//    display: block;
// }

#app-container{
}

.cam {
    font-family: 'Poiret One', cursive;
}

.about-me {

    .about {
        font-family: 'Poiret One', cursive;
        font-size: 4em;
    }

    .info {
       font-size: 2em;
        font-family: 'Raleway', sans-serif;
    }

    .selfie {
        height: 75%;
        padding: 5%;
        border-radius: 18%;
    }
}


.work {
    font-family: 'Poiret One', cursive;
    font-size: 2em;

}